@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --color-titulos: #ffffff;
}
body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	background-color: black;
}
.container{
	display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.logo {
	margin-bottom: 1%;
	margin-top: 5%;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

#imagem1 {
	border-radius: 50%;
	width: 20%;
	height: 20%;
}

.h4{
	font-family: 'Poppins', sans-serif;

}
.hello{
	align-items: center;
  align-content: center;
	display: flex;
	flex-direction: column;
	width: 100%;
  height: 100%;
	margin-bottom: 1%;
	margin-top: 2%;
}

.networking{
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.imgs{
	width: 25%;
	height: 25%;
}
.item{
	background-color: rgb(158, 2, 2);
	border: 1px solid white;
  width: 23%;
  height: 20%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  padding: 4%;
  margin: 1%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 31px;
  transition: all .4s;
}


.item a {
	text-decoration: none;
	color: var(--color-titulos);
}
div .titulos_rede{
	margin-top: 5%;
}
p {
	color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin: 10px 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	animation: type 4s steps(60, end);
	width: 20em

}

p:nth-child(2) {
	animation: type2 8s steps(60, end);

}

span {
	animation: blink 1s infinite;
}

@keyframes type {
	from {
		width: 0;
	}
}

@keyframes type2 {
	0% {
		width: 0;
	}

	50% {
		width: 0;
	}

	100% {
		width: 100;
	}
}

@keyframes blink {
	to {
		opacity: .0;
	}
}

::selection {
	background: rgb(3, 3, 3);
}

/* Extra small devices (phones, 800px and down) */
@media only screen and (min-width: 200px) and (max-width: 900px) {
	.networking{
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;

	}

	.item{
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;

	}
	
	img .imgs{
		width: 30%;
		height: 30%;
		
	}
	#imagem1{
		margin-top: 8%;
		width: 40%;
	}
	.hello{
		margin-top: 2%;
		margin-bottom: 4%;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;

	}

}

/* Sweep To Left */
.hvr-sweep-to-left {
	border-radius: 33px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(255, 255, 255);
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration:  0.5s;
  transition-duration: 0.5s;
	
}
.hvr-sweep-to-left:before {
	border-radius: 31px;
	width: 100%;
	height: 100%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(62deg, #ff0505 25%, #f71b82 98%);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
	border-radius: 31px;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
	border-radius: 31px;
}